<div class="w-full h-full bg-neutral-50 flex">
  
  @if(isAddingPet()){
    <div class="absolute w-full h-full bg-neutral-500 flex flex-col justify-center">
      <div class="w-2/3 h-80 bg-neutral-100">
        <app-pet-addition (formEmitter)="addPet($event)"></app-pet-addition>
      </div>
    </div>  
  }@else{
    <div class="w-full h-full flex-col gap-4">
      <h4 class="text-xl p-4">Tus Mascotas</h4>
      <div class="w-full flex flex-row flex-wrap gap-4 justify-center">

      @for (pet of myPets(); track $index) {
          <div class="mt-4">
              <app-pet-card [pet]="pet"/>
          </div>
      }@empty {
        <p>Aún no tienes mascotas registradas, ¿quieres agregar una?</p>
      }
    </div>

    <div class=" flex flex-row justify-center mt-4">
      <button class="bg-cyan-200 rounded-md p-4 w-48 h-12 font-bold text-base text-neutral-50" (click)="showForm()">Agregar mascota</button>
    </div>
    </div>
  }

  
</div>
