@if(isLoading()){
<app-loading />
}
<div
  class="w-full h-[90%] mt-24 flex justify-center items-center bg-page_primary_color"
>
  <div class="w-fit h-fit bg-neutral-100 py-2 px-8 rounded-md">
    <h4 class="text-2xl font-semibold text-center">Actualización</h4>
    <app-user-form
      (formEmitter)="updateProfile($event)"
      [previousData]="user()"
      [isRegister]="false"
      [secondaryButtonText]="'Cerrar sesión'"
      [primaryButtonText]="'Actualizar'"
    ></app-user-form>
  </div>
</div>
