input{
    padding: 0.5vw;
    border-radius: 0.5rem;
    outline: 0.10rem solid grey;
    width: 40vw;
    height: 2.5vw;
}

input:focus{
    outline: 0.25rem solid rgb(103, 232, 249) ;
}

.invalid{
    background: rgb(254, 202, 202);
}

.valid{
    background: rgb(187, 247, 208);
}