<nav
  class="z-0 w-screen h-[10%] flex flex-row gap-16 justify-end items-center px-12 text-navBar_text_color text-2xl font-semibold bg-navBar_color shadow-sm border-b-2 border-neutral-200"
>
  <a
    class="button"
    routerLink="/home"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Inicio
  </a>

  <a
    class="button"
    routerLink="/my-pets"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Mis mascotas
  </a>

  <a
    class="button"
    routerLink="/profile"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Mi Perfil
  </a>
</nav>
